:root {
  --font: "Poppins", sans-serif;

  --black: #020617;
  --gray: #70707a;
  --gray-dark: #27272a;
  --gray-light: #e4e4e7;
  --light: #fafafa;
  --dark: #0f172a;
  --amber: #fbbf24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-width: 0;
}

body {
  font-family: var(--font);
  background-color: var(--light);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.2;
}

strong {
  font-weight: 500;
}

#app {
  height: 100vh;
  background-color: var(--gray-dark);
}

/* ---------- Area: Musics ---------- */

main {
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.musics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  overflow-y: auto;
  color: var(--light);
}

.musics .list {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.musics .list .music {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--gray-light);
  border-radius: 0.25rem;
}

.musics .list .music:hover {
  background-color: rgba(113, 113, 122, 0.1);
}

.musics .list .music .number {
  width: 1rem;
  text-align: center;
  font-size: 0.75rem;
}

.musics .list .music .cover {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  background-color: var(--gray);
  overflow: hidden;
}

.musics .list .music .cover img,
.music-panel .music-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.musics .list .music .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85rem;
}

/* ---------- Area: Panel ---------- */

.music-panel {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: var(--light);
}

.music-panel .music-infos,
.music-panel .music-volume {
  display: flex;
  width: 25rem;
  padding: 0 2rem;
  align-items: center;
}

.music-infos {
  gap: 1rem;
}

.music-infos .music-cover {
  width: 4rem;
  height: 4rem;
  border-radius: 0.25rem;
  background-color: var(--gray);
  overflow: hidden;
}

.music-infos .music-title p {
  font-size: 0.8rem;
  color: var(--gray-light);
}

.music-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.music-actions {
  display: flex;
  gap: 1rem;
}

.music-actions button {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  color: var(--light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.1s linear;
  font-size: 1.25rem;
}

.music-actions .btn-play {
  background-color: var(--light);
  color: var(--black);
}

.music-actions .btn-play:hover {
  transform: scale(1.1);
}

.music-progress {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  font-size: 0.75rem;
  color: var(--gray);
}

.music-progress span {
  width: 2rem;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 0.25rem;
  background-color: var(--gray);
  border-radius: 0.25rem;
}

.progress-bar:hover .progress {
  background-color: var(--amber);
}

.progress-bar:hover .slider {
  display: block;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--light);
  border-radius: 0.25rem;
}

.progress .slider {
  position: absolute;
  display: none;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--light);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

.lyrics-controls button:hover {
  transform: scale(1.075);
}

.lyrics-display {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 0;
  color: var(--dark);
}

.line {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  user-select: none;
  cursor: pointer;
}

.line.passed:not(.focus):not(:hover) {
  color: var(--gray);
}

.line:hover,
.line.focus {
  color: var(--light);
}
